<%- include("header") -%>
<div class="box" id="heading">
<h1><%= ListTittle %> </h1> 
</div>
   

<div class="box">

    <% newListItems.forEach(function(item){%>
        <form action="/delete" method="post">
        <div class="item">
            <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()" >
                <p><%=item.name %></p>
           </div>
           <input type="hidden" name="listName" value="<%= ListTittle%>">
           </form>
    <%})%>
           
        
    


    
<form class="item" action="/" method="post">
        <label for="Next ToDo list"></label>
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required minlength="3">
        <button type="submit" name="list" value=<%= ListTittle %> >+</button>
    </form>
    </div>

    <%- include("footer") -%>

    